#*
*~
stargazers
stargazer_cache/

.env
email_reachout
output
web-scrap

go.mod
go.sum

output

stargazer_analysis
email_reachout_cache/
emails/

.DS_Store

# Additional Go artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
/vendor/
/Godeps/
bin/
dist/

# Additional Python artifacts
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/
.pytest_cache/

# Specifically added
repos.csv
